# RStudio
.Rproj.user/
.Rhistory
.RHistory
.RData
.Ruserdata
.RDataTmp*
*.Rproj.user

# Environment files
.Renviron

# Raw datasets
data/raw/

# Temporary files
*.tmp
*.log

# Operating system files
.DS_Store
Thumbs.db
